$baseFont: "Montserrat", sans-serif;
$secondaryFont: "Great Vibes", cursive;

/*Colors*/
$baseColor: #b60b0b;
$black: #000;
$white: #fff;
$yellow: #fbfb04;
$darkBlack: #333;
$lightGrey: #ececec;

/*Font-size*/
$font14: 14px;
$font15: 15px;
$font16: 16px;
$font18: 18px;
$font20: 20px;
$font22: 22px;
$font24: 24px;
$font26: 26px;
$font28: 28px;
$font30: 30px;
$font35: 35px;
$font40: 40px;
$font45: 45px;
$font50: 50px;
$font55: 55px;

/*Font-weight*/
$fontLight: 300;
$fontNormal: 400;
$fontMedium: 500;
$fontSemibold: 600;
$fontBold: 700;
$fontExtraBold: 800;
