@import "../../../assets/base/variables.scss";
@import "../../../assets/base/mixins.scss";

.homeBanner {
  @include background-image("../../assets/images/banner.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding: 5rem 1rem;
  background-color: $darkBlack;
  text-align: center;
  color: #fff;
  height: 100vh;
  overflow: hidden;
  position: relative;
  @include flexbox();
  @include justify-content(center);
  @include align-items(flex-end);

  img {
    max-width: 100%;
    position: relative;
    z-index: 0;
  }

  .bannerContent {
    position: relative;
    z-index: 1;

    h1 {
      color: $white;
      font-size: 6rem;
      font-weight: $fontLight;
      margin-bottom: 2rem;
      font-family: $secondaryFont;
    }

    p {
      color: $yellow;
      font-size: 2rem;
      font-weight: $fontNormal;
      margin-bottom: 2rem;
      font-family: $secondaryFont;

      &:last-child {
        color: $white;
        margin-bottom: 0px;
      }
    }

    .separatorLine {
      width: 100%;
      max-width: 50%;
      position: relative;
      margin-bottom: 2rem;
      display: inline-block;

      &::before {
        position: absolute;
        content: "";
        background-color: #fff;
        height: 2px;
        width: 100%;
        top: 47%;
        left: 50%;
        display: inline-block;
        @include transform(translate(-50%, -50%));
      }

      i {
        font-size: $font30;
        position: absolute;
        top: 50%;
        left: 50%;
        @include transform(translate(-50%, -50%));

        &.whiteIcon {
          color: $white;
        }

        &.redIcon {
          color: $baseColor;
          font-size: 1.6rem;
        }
      }
    }
  }
}